In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('review_50_clothing_product.csv')

In [7]:
df.head()

,Unnamed: 0,stars,title,body
0,0,4.0 out of 5 stars,Short people and big booty Judy’s.,Honest review would be more like a 4.5. Issue ...
1,1,4.0 out of 5 stars,Great Pants,I LOVE these pants! I originally bought 2x bec...
2,2,5.0 out of 5 stars,Kinda big,I usually wear a medium however this was close...
3,3,5.0 out of 5 stars,OMG I love these pants.,They feel so good and smooth. Great if you are...
4,4,4.0 out of 5 stars,"Nice, but large","These are comfortable, but as others have ment..."

In [8]:
df.shape

(114451, 4)

In [9]:
df['star'] = df['stars'].apply(lambda x: str(x).split()[0]).astype(float)

In [10]:
df.head()

,Unnamed: 0,stars,title,body,star
0,0,4.0 out of 5 stars,Short people and big booty Judy’s.,Honest review would be more like a 4.5. Issue ...,4.0
1,1,4.0 out of 5 stars,Great Pants,I LOVE these pants! I originally bought 2x bec...,4.0
2,2,5.0 out of 5 stars,Kinda big,I usually wear a medium however this was close...,5.0
3,3,5.0 out of 5 stars,OMG I love these pants.,They feel so good and smooth. Great if you are...,5.0
4,4,4.0 out of 5 stars,"Nice, but large","These are comfortable, but as others have ment...",4.0

In [15]:
indexAge = df[(df['star'] == 3)].index
df.drop(indexAge, inplace=True)

In [16]:
df['sentiment'] = df['star'].apply(lambda x: 1 if x >= 3 else 0)

In [17]:
df.head()

,Unnamed: 0,stars,title,body,star,sentiment
0,0,4.0 out of 5 stars,Short people and big booty Judy’s.,Honest review would be more like a 4.5. Issue ...,4.0,1
1,1,4.0 out of 5 stars,Great Pants,I LOVE these pants! I originally bought 2x bec...,4.0,1
2,2,5.0 out of 5 stars,Kinda big,I usually wear a medium however this was close...,5.0,1
3,3,5.0 out of 5 stars,OMG I love these pants.,They feel so good and smooth. Great if you are...,5.0,1
4,4,4.0 out of 5 stars,"Nice, but large","These are comfortable, but as others have ment...",4.0,1

In [18]:
df['sentiment'].unique()

array([1, 0], dtype=int64)

In [19]:
df['sentiment'].value_counts()

1    64680
0    42780
Name: sentiment, dtype: int64